#Menu {
background-color: lightblue;
 margin-left: auto;
margin-right: auto;
width: 80%;
}

h2, h1, p, li, figcaption, img {
 text-align: center;
}

body {
background-image: https://cdn.discordapp.com/attachments/1129176788275310613/1187582338008354856/IMG_3284.png?ex=6597693d&is=6584f43d&hm=f77d40abe1a45de73ad64cd2b61cdb73523aebe145423e8a26676262f9d18800&;
}

