#Menu {
opacity: 0.5;
border-radius: 20px;
background-color: steelblue;
 margin-left: auto;
margin-right: auto;
width: 70%;
padding-top: 20px;
padding-bottom: 20px;
max-width: 1200px;
}

.CheeseburgerText2{
color: white;
}

.LittleLower {
margin-bottom: -5px;
}

.LittleHigher {
margin-top: 20px
}

.CheeseburgerText {
color: red;
}
.Cheeseburger {
text-align: center;
width: 80%;
height: 90%;
}

h2, h1, p, figcaption {
 text-align: center;
}

body {
background-image: url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg);
font-family: Nunito, serif;
}

hr {
background-color: brown;
border-color: brown;
width: 50%;
height: 3px;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}

a {
 color: grey;
}
a:hover {
 color: black;
}
a:active {
 color: blue;
}
a:visited {
 color: white;
}

.hello123 {
color: white;
margin-bottom: -10px;
}
