#Menu {
background-color: steelblue;
 margin-left: auto;
margin-right: auto;
width: 80%;
padding-top: 20px;
padding-bottom: 20px;
max-width: 1200px;
}

h2, h1, p, li, figcaption, img {
 text-align: center;
}

body {
background-image: url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg);
font-family: Tahoma, Sans-Serif;
}

hr {
background-color: brown;
border-color: brown;
width: 700px;
height: 3px;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}

a {
 color: grey;
}
a:hover {
 color: black;
}
a:active {
 color: white;
}
a:visited {
 color: green;
}

figcaption {
color: black;
}
